@model ApplicationCore.Models.MovieDetailsModel
@using ApplicationCore.Models;
@{
    var movieCard = new MovieCardModel();
    movieCard.Id = @Model.Id;
    movieCard.PosterUrl = @Model.PosterUrl;
    movieCard.Title = @Model.Title;
}

<div class="container-fluid">
    <div class="row bg-image" style="background-image: url(@Model.BackdropUrl);">
        <div class="row bg-image m-0" style="background-color: rgba(0, 0, 0, 0.7);">
        <div class="col-5 border-0">
            <img src="@Model.PosterUrl" />
        </div>

        <div class="col-5" style="background-color: rgba(0, 0, 0, 0);">
            <div class="card border-0" style="background-color: rgba(0, 0, 0, 0);">
              <div class="card-body">
                <h5 class="card-title" style="color: white;">@Model.Title</h5>
                <p class=" fs-6 mb-2 text-muted">@Model.Tagline</p>
                @foreach (var genre in @Model.Genres)
                {
                    <p style="display: inline-block; padding: 4px; border-radius: 10px; background-color:gray; color: white;">@genre.Name</p>

                }
                <p class="card-subtitle fs-6 mb-2 text-muted">@Model.RunTime min | @Model.ReleaseDate.Value.Year</p>
                <h4><span class="badge bg-success">9.2</span></h4>
                <p class="card-text" style="color: white;">@Model.Overview</p>
              </div>
            </div>
        </div>
        <div class="col-2">
            <div class="d-grid gap-2 mt-5">
              
              <button class="btn btn-dark" type="button">Buy $@(Model.Price != null ? Model.Price : 9.99)</button>
              
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">Review</button>

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New Review</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form>
                              <div class="mb-3">
                                <label for="review-title" class="col-form-label">Title:</label>
                                <input type="text" class="form-control" id="review-title">
                              </div>
                              <div class="mb-3">
                                <label for="review-text" class="col-form-label">Review:</label>
                                <textarea class="form-control" id="review-text"></textarea>
                              </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Send review</button>
                          </div>
                        </div>
                      </div>
                    </div>
             
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-4 m-0 p-0">
            <ul class="list-group list-group-flush" style="background-color: lightgray; height: 100%">
              <li class="list-group-item" style="background-color: lightgray;"><h2>Movie Facts</h2></li>
              <li class="list-group-item" style="background-color: lightgray;">Release Date <span><button type="button" class="btn btn-secondary btn-sm" style="border-radius: 30px;">@Model.ReleaseDate.Value.Year</button></span></li>
              <li class="list-group-item" style="background-color: lightgray;">Run Time  <span><button type="button" class="btn btn-secondary btn-sm" style="border-radius: 30px;">@Model.RunTime</button></span></li>
              <li class="list-group-item" style="background-color: lightgray;">Box Office  <span><button type="button" class="btn btn-secondary btn-sm" style="border-radius: 30px;">@Model.Revenue</button></span></li>
              <li class="list-group-item" style="background-color: lightgray;">Budget  <span><button type="button" class="btn btn-secondary btn-sm" style="border-radius: 30px;">@Model.Budget</button></span></li>
             @* <li class="list-group-item" style="background-color: lightgray;"><a href="@Model.ImdbUrl"><span class="glyphicon glyphicon-share"></span></a></li>*@
              <li class="list-group-item" style="background-color: lightgray;"><h2>Trailers:</h2>
                <ul class="list-group">
                @foreach(var t in Model.Trailers)
                        {
                            <li class="list-group-item" style="background-color: lightgray;"><a href="@t.TrailerUrl" target="_blank" style="text-decoration: none;">@t.Name</a></li>
                        }
                
                </ul>
              </li>
            </ul>
        </div>
        <div class="col-8">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><h2>Cast</h2></li>
              <ul class="list-group list-group-flush">
                @foreach(var t in Model.Casts)
                        {
                            <li class="list-group-item"><img class="rounded-circle" src="@t.ProfilePath" style="height:70px;"/>&nbsp;&nbsp; 
                                <a asp-controller="Cast" asp-action="Details" asp-route-id="@Model.Id">@t.Name</a>
                                </li>
                        }
                
                </ul>
            </ul>
        </div>
    </div>
</div>
